<aside class="main-sidebar">
  <div class="sidebar" id="scrollspy">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag current_user.avatar, class: "img-circle", alt: current_user.username %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.full_name.blank? ? current_user.username : "#{current_user.full_name} - #{current_user.username}" %></p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <ul class="nav sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="<%= root_path %>">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span></i>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-comments-o"></i> <span>Chatrooms</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="<%= new_chatroom_path %>"><i class="fa fa-circle-o"></i> New Chatroom</a>
          </li>
          <li>
            <a href="<%= chatrooms_path %>"><i class="fa fa-circle-o"></i> View all</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>