<!DOCTYPE html>
<html>
  <head>
    <title>In-House Demo App</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body class="skin-black fixed sidebar-mini" data-spy="scroll" data-target="#scrollspy">
    <div class="wrapper">
      <%= render partial: 'layouts/shared/navbar' %>
      <%= render partial: 'layouts/shared/sidebar' %>
      <div class="content-wrapper">
        <%= render partial: 'layouts/shared/flash_messages'%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
