<!DOCTYPE html>
<html>
  <head>
    <title>In-House Demo App</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body class="hold-transition login-page">
  <section class="login-box">
    <header class="login-logo row">
      <div class="col-xs-4 col-xs-offset-4">
        <a href="/">
          <%= image_tag "dashboard_logo_full.png", class: "img-responsive" %>
        </a>
      </div>
    </header>
    <!-- /.login-logo -->
    <section class="login-box-body row">
      <%= yield %>
    </section>
    <!-- /.login-box-body -->
  </section>
  <!-- /.login-box -->
<!--   <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
      });
    });
  </script> -->
  </body>
</html>
